#main{
    
    background-color: rgb(177, 177, 177);
    border: solid 1px;
    border-color: #B1B1B1;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}




#work
{
    border: solid; width: 1.2in; margin: auto;
    margin-left: 1in;
    text-align: center;
    margin-left: 56%;
    font-size: 16pt;
	font-family: 'proxima-nova', sans-serif;
    font-style:"regular";
    margin-top: 1.5%;

}

#about
{
    border: solid; width: 1.2in; margin: auto;
    margin-left: 1in;
    text-align: center;
    margin-left: 71.3%;
    font-size: 16pt;
	font-family: 'proxima-nova', sans-serif;
    font-style:"regular"; 
    margin-top: -3.1%;
    
}

#contact
{
    border: solid; width: 1.2in; margin: auto;
    margin-left: 1in;
    text-align: center;
    margin-left: 86%;
    font-size: 16pt;
	font-family: 'proxima-nova', sans-serif;
    font-style:"regular";
    margin-top: -3.1%;
    
}



#description
{
    width: 870.3661px;
    height: 119.613px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5%;
    font-family: 'minion pro' "bold" , serif;
    font-style:"regular";
    font-size: 13.3pt;
    margin-bottom: -17.7%;
    
}

#logo
{
    margin-top: -4.53%;
    margin-left: 1%;
    margin-bottom: 40%;
}

#N1
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -25%;
    margin-bottom: 14%;
    
}

#N2
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 34%;
    
}

#N3
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -18%;
    margin-bottom: 54%;
    
}

#N4
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N5
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N6
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N7
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


#N8
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N9
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N10
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N11
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N12
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N13
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N14
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N15
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}

#N16
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


#N17
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


#N18
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


#N19
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


#N20
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


#N21
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -38%;
    margin-bottom: 54%;
    
}


